* {
    background-color: aliceblue;
    border-radius: 4px;
    text-align: center;
}

button {
    border-radius: 4px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    height: auto;
    border: 1px black solid;
}

form {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    max-width: fit-content;
    border: 1px black solid;
    font-size: 150%;
}

.roomAndChat {
    padding-left: 15px;
    padding-right: 15px;
    width: 72.5%;
    border: 1px black solid;
    height: 97.5vh;
    font-size: 125%;
}

.account {
    float: right;
    width: 25%;
    border: 1px black solid;
    height: 97.5vh;
    font-size: 125%;
}

.chatBox {
    float: left;
    width: 55%;
    border: 1px solid black;
    height: 91vh;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}

.users {
    height: 79.5vh;
    border: 1px solid black;
    padding: 15px;
}

.bigButton {
    font-size: 150%;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.mediumButton {
    font-size: 125%;
    width: 200px;
    height: 50px;
    margin: 5px;
}

button:active {
    filter: brightness(95%);
}

button:hover {
    filter: brightness(95%);
}